---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import Hr from "@/components/Hr.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
const [heroPost, ...gridPosts] = recentPosts;
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index">
    {
      recentPosts.length > 0 && (
        <section id="recent-posts" class="mx-auto max-w-5xl px-4 pt-12 pb-6">
          <ul class="grid grid-cols-1 gap-8 md:grid-cols-2">
            {heroPost && (
              <Card variant="h2" featured {...heroPost} />
            )}
            {gridPosts
              .slice(0, SITE.postPerIndex - 1)
              .map((data) => (
                <Card variant="h3" {...data} />
              ))}
          </ul>
        </section>
      )
    }

    <div class="my-8 text-center">
      <LinkButton href="/posts/2">
        More
        <IconArrowRight class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>
  </main>
  <Footer />
</Layout>

<!-- <script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script> -->
